.lanyard-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transform-origin: center;
}

@media (max-width: 768px) {
  .lanyard-wrapper {
    height: 70dvh;
  }
}
